a {
	text-decoration: none;
}
a:hover span,a:hover {
	text-decoration: underline;
}
body {
	background: #d8d8d8;
	color: #000;
	font-family: sans-serif;
}
h1 {
	text-align: center;
}
.check {
	text-align: center;
	width: 1.5em;
}
.dark a:link:not(.initial) {
	color: #88f;
}
.dark a:visited:not(.initial) {
	color: #b030b0;
}
.dark {
	background: #111;
	color: #eee;
}
.dark-switch {
	position: absolute;
	right: 8px;
}
.hidden {
	display: none;
}
.slider {
	background-color: #ccc;
	border-radius: 34px;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	background-color: #FFF;
	border-radius: 50%;
	bottom: 4px;
	content: url(dark.svg);
	height: 26px;
	left: 4px;
	position: absolute;
	-webkit-transition: .4s;
	transition: .4s;
	width: 26px;
}
.social {
	position: absolute;
}
.switch input { 
	height: 0;
	opacity: 0;
	width: 0;
}
.switch input:checked + .slider {
	background-color: #2196F3;
}
.switch input:checked + .slider:before {
	content: url(light.svg);
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.switch input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
.switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}
.total:empty::before {
	content: "(your score)"
}
#test {
	border: 1px solid gray;
	width: 50em;
}
