a {
	text-decoration: none;
}
a:hover span,a:hover {
	text-decoration: underline;
}
body {
	background: #d8d8d8;
	color: #000;
	font-family: sans-serif;
}
h1 {
	text-align: center;
}
.check {
	text-align: center;
	width: 1.5em;
}
.dark a:link:not(.initial) {
	color: #88f;
}
.dark a:visited:not(.initial) {
	color: #b030b0;
}
.dark {
	background: #111;
	color: #eee;
}
.dark-switch {
	position: absolute;
	right: 8px;
}
.hidden {
	display: none;
}
.slider {
	background-color: #ccc;
	border-radius: 34px;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	background-color: #FFF;
	border-radius: 50%;
	bottom: 4px;
	content: url(dark.svg);
	height: 26px;
	left: 4px;
	position: absolute;
	-webkit-transition: .4s;
	transition: .4s;
	width: 26px;
}
.social {
	position: absolute;
}
.switch input {
	height: 0;
	opacity: 0;
	width: 0;
}
.switch input:checked + .slider {
	background-color: #2196F3;
}
.switch input:checked + .slider:before {
	content: url(light.svg);
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.switch input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
.switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}
.total:empty::before {
	content: "(your score)"
}
.wikipediauserbox img {
	border: 0;
	vertical-align: middle;
}
.wikipediauserbox table {
	background: #f8f8ff;
	border-collapse: collapse;
	border-color: grey;
	border-spacing: 2px;
	box-sizing: border-box;
	display: table;
	font-size: 100%;
	margin-bottom: 0;
	margin-top: 0;
	text-indent: initial;
	width: 238px;
}
.wikipediauserbox td:first-child {
	background: #ccf;
	border: 0;
	color: #000;
	font-size: 14pt;
	font-weight: 700;
	height: 45px;
	line-height: 1.25em;
	padding: 0 1px 0 0;
	text-align: center;
	vertical-align: middle;
	width: 45px;
}
.wikipediauserbox td:last-child {
	border: 0;
	color: #000;
	font-size: 8pt;
	height: 45px;
	line-height: 1.25em;
	padding: 0 4px;
	text-align: left;
	vertical-align: middle;
}
.wikipediauserbox {
	border: 1px solid #ccf;
	color: #000;
	direction: ltr;
	font-size: 127%;
	line-height: 1.5em;
	margin: 1px;
	width: 238px;
}
#test {
	border: 1px solid gray;
	width: 50em;
}